body{
    font-family: American Typewriter, serif;
    margin: 0;
    background-color: #3f1719;
}

.topo{
    margin: 0;    
    height: 80px;
    background-color: #680a1d   ;
    position: relative;
}
.logo img{
    height: 80px;
    width: 100px;
}
ul{
    margin: 20px 19px;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
}
.topo ul{
    display: inline-block;
    position: relative;
    left: 800px;
    bottom: 80px;
}
.topo li{
    list-style-type: none;
}
.links a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.links a:hover{
    color: white;
    border: solid 1px #98908d;
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
    transform: border 0.3 linear;
}
section img{
    width: 500px;
    height: 500px;
}