body{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0e1613;
}

header{
    border-top: solid 1px transparent;
    background-color: black;
    height: 60px;
}

nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.links p{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin-top: 9px;
    letter-spacing: 2px;
}
.links ul{
    display: flex;
    gap: 60px;
    align-items: center;
}
.link1:hover a, .link2:hover a, .link3:hover a, .link4:hover a {
    background-color: #a0fb0e;
    color: black;
    box-sizing: border-box;
    padding: 21px;
    text-align: center;
    box-sizing: border-box;
    transition: padding .6s;
}
.links__buttons{
    list-style: none;
    margin: 0;
    padding: 0;
}
.links__buttons li{
    display: inline-block;
}
.links__buttons a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}
main{
    width: 1024px;
    margin: auto;
}
.titulo{
    text-align: center;
}
h1{
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    letter-spacing: 3px;
}
section{
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
}
.list{
    background-color: #1c221f;
    width: 100%;
    padding: 30px;
    margin: 25px;
    display: flex;
    flex-direction: column;
}
.type{
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.value{
    display:flex;
    align-items: baseline;
}
.value__price{
    font-size: 28px;
    margin-bottom: 0;
}
.type__list{
    padding: 0;
    text-align: left;
    margin: 15px;
}
.type__list li{
    color: #a0fb0e;
}
.type__list p{
    color: gray;
    margin: 5;
    font-size: 15px;
}
.text{
    border-bottom: solid 2px #a0fb0e;
}
.button{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}
.button button{
    background-color: #a0fb0e;
    padding: 20px;
    border-radius: 10px;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: #0e1613;
    color: #a0fb0e;
}